server:
  port: 8000
spring:
  main:
    banner-mode: console
    log-startup-info: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  thymeleaf:
    cache: false
  h2:
    console:
      enabled: true

app:
  prop_01: ${random.int}
  prop_02: ${random.int(200)}
  prop_03: ${random.int[50,55]}
  prop_04: ${random.long(100000000)}
  prop_05: ${random.long[50000000000,55555555555555]}
  prop_06: ${random.value}
  prop_07: ${random.uuid}

amazon:
  productUrl: http://www.amazon.com/gp/product/
  associateId: i-need-more-money
